body {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 75%,
    #ff99ac 100%
  );
  max-width: 100%;
}

.App {
  margin-top: 80px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 2px 3px rgba(10, 0, 0, 0.56);
}

h1 {
  font-size: 5rem;
}
